<%= render partial: 'shared/form_validation_errors_notice', locals: { resource: @resource } %>

<h1>New Prefab Item!</h1>
<%= render partial: "form", locals: {form_url: user_prefab_items_path, submit_method: 'post'} %>
