<div id="tag-details">
    <h3>{{selectedTag.name}}</h3>
    {{#each selectedTag.prefab_stores}}
        {{name}}<br>
    {{/each}}
</div>


{{#each tags}}
    <a href="#" id={{id}} onclick="handleTagClick(event)">{{name}}</a>    
{{/each}}
