<div class="flex item" >
<%= render partial: 'sessions/form', locals: {target_url: '/signin', submit_label: "Log In"} %>
</div>
<br>
<br>

<div class="flex item">
    <%= link_to 'Log in with Amazon', '/auth/amazon' %>
</div>

<div class = "flex item">
    <%= link_to 'Sign Up', new_user_path %>
</div>
