<div>
  <%= prefab_store.name %>
  <%= link_to "Edit", edit_user_prefab_store_path(@user, prefab_store) %>
  <%= link_to "Delete", user_prefab_store_path(@user, prefab_store), method: 'delete' %>
</div>
