<%= render partial: 'shared/form_validation_errors_notice', locals: { resource: @resource } %>

<h1>Edit Prefab Store!</h1>
<%= render partial: "form", locals: {form_url: user_prefab_store_path, submit_method: 'patch'} %>
