form {
    margin: auto;
    width: 50%;
}

form input {
    width: 400px;
    height: 40px;
    display: block;
    margin: 0 0 20px;
    border-radius: 5px 5px;
    padding: 10px 10px 10px 10px;
}

.field_with_errors {
    background-color: pink;
}

