body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.layout-login {
    text-align: center;
    font-size: 16px;
}

.full-height {
    position: relative;
    z-index: 1;
    min-height: 100%;
    min-height: 100vh;
    height: auto;
}

@media (min-height: 570px) {
.full-height {
    height: 100vh;
}}

.login-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .layout-login .login-container {
        width: 396px;
    }
}

@media (max-width: 767px) {
    .layout-login .login-container {
        max-width: 324px;
    }
}

@media (min-width: 600px) {
    .layout-login .login-container {
        width: 324px;
    }
}

.layout-login .login-form {
    width: 100%;
}

.flex-fill {
    min-height: 0;
    min-width: 0;
    flex: 1 0 auto;
}

.layout-login .login-container input[type=text], 
.layout-login .login-container input[type=password],
.layout-login .login-container input[type=submit] {
    height: 55px;
    font-size: 18px;
    width: 100%;
}

.layout-login .login-form input {
    border-radius: 4px;
    text-align: center;
    margin-bottom: 16px;
}

input[type=text], input[type=password], input[typ=submit] {
    display: block; 
}

.field_with_errors {
    background-color: pink;
}

