nav {
    padding: 10px;
    background-color: $big-budget-green;
    font-size: $font-size-navbar;
    font-family: $font-stack-navbar;
}

nav a {
    color: rgb(175, 182, 219);
    padding: 0px 5px;
    text-decoration: none;
}

nav a:last-of-type {
    float: right;
}

nav a:hover {
    color: white;
}

#logo {
    color: $color-logo;
    margin-right: 20px;
}