nav {
    padding: 10px;
    background-color: $big-budget-green;
    font-size: 64px;
}

nav a {
    color: rgb(175, 182, 219);
    padding: 0px 5px;
    font-family: sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

#logo {
    font-family: 'Fredoka One', sans-serif;
    color: $color-logo;
    margin-right: 20px;
}