nav {
    padding: 10px;
    background-color: #007700;
}

nav a {
    color: rgb(175, 182, 219);
    padding: 0px 5px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 96px;
}

nav a:hover {
    color: white;
}

#logo {
    font-family: 'Fredoka One', sans-serif;
    font-size: 24px;
    color: white;

    margin-right: 20px;
}