#tag-details {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

#tag-list {
    a {
        color: black;
        text-decoration: underline
    }

    a.selected {
        color: $big-budget-green;
    }
}
