#tag-details-container {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

#tag-list-container {
    a {
        color: black;
        text-decoration: underline
    }
    
    a:hover {
        color: $big-budget-green;
    }
}
