#tag-details-container {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid;

    height: 200px;
}

#tag-list-container {
    a {
        color: black;
        text-decoration: underline
    }

    a.selected {
        color: $big-budget-green;
    }

    a:hover {
        color: $big-budget-green;
    }
}
